---
title: About
permalink: "/about/"
thumbnail_image: "/uploads/profile_pic.jpg"
feature_image: "/uploads/about2.png"
layout: page
exclude: true
---



    <section id="mainStory">
      <article>
      <!--   <div class="backgroundImage" ></div> -->
         <div class="backgroundImage" style="background: url({{page.feature_image | relative_url}})top center / cover no-repeat;"></div>
         <div class="content">
         


<h3>Personal Projects</h3>
<div class="fourFeature">
      <p><img src="/assets/bpm.png" title="Birmingham Print Makers"/><br/>My original passion is illustration, mainly pen and ink. I am a member of the Birmingham Printmakers.</p>
    <p><img src="/assets/net.png" title="NET Magazine"/><br/>I enjoy writing, producing articles for Creativebloq and .Net magazine amongst others.</p>
    <p><img src="/assets/bbw.png" title="Birmingham Beer Week"/><br/>Getting involved in <a href="https://www.birminghambeerweek.uk" target="_blank">Birmingham Beer Week</a> last year was great! We have big things planned for this year!</p>
    <p><img src="/assets/mkf.png" title="Matt Kendall Foundation"/><br/>The <a href="http://themattkendallfoundation.org/" target="_blank">Matt Kendall Foundation</a> is a charity that aims to give young people a foot onto the ladder when they really need it. </p>
</div>
    
        </div>     
      </article>
    </section>
    <section id="introduction">
      <article>
          <h1 class="contact-title">I am a freelance designer/developer based in Birmingham.</h1> <p>I have been involved in website design and development since 2000. From battling with Internet Explorer 6, table layouts and shims to the comparitave joys that css-grid is giving us.</p><p>The developments and progression the industry has made over the last 20 years is what makes me tick.</p>

          <h3>The devil is in the detail</h3>
          <p>I love working things through logically, a robust process is key to making sure the outcome is what you expect. A discussion over a coffee is great to find out about the project and its objectives. Then it is about gathering information and thinking about how we will approach things from the users perspective. </p><p>Once this is complete we can move onto the architectiure of the site. Now the stage is set and the design and build can flow with everyone fully aware of what we are aiming for. </p>

           <h2>Skills and abilities</h2>
    <p>My main experience is in Front End Web Development and User Experience design</p>  
    <ul>
    <li>Bridging the Design and Programming team members</li>
    <li>Translation of designs from wireframe to code</li>
    <li>Deliver projects on time and on budget</li>
    <li>Implementing the visual side of digital projects</li>
    <li>User Research and the creation and delivery of UI/UX wireframes </li>
    </ul>
                 

      </article>
    </section>
<!--     <section id="feature">
      <article>
        <div>Example projects</div>
         {% for page in site.pages   %}
         {% if page.title == 'About' %}


        <div class="services"  style="background: url({{page.thumbnail_image | relative_url}})top center / cover no-repeat;"> <a href="{{page.url }}" class="second-cta services">{{page.title }}</a>
      {% endif %}
        {% endfor %}</div>
      </article>
    </section> -->