---
title: Contact
permalink: "/contact/"
thumbnail_image: "/uploads/profile_pic.jpg"
layout: page
exclude: true
---

    <section id="mainStory">
      <article>
      <!--   <div class="backgroundImage" ></div> -->
         <div class="backgroundImage" style="background: url({{page.thumbnail_image | relative_url}})top center / cover no-repeat;"></div>
        
      </article>
    </section>
    <section id="introduction">
      <article>
         <h3>Get in Touch</h3>
			<p>You can always find me on Twitter,</p>
		<p>I enjoy writing, producing articles for Creativebloq and .Net magazine amongst others.</p>
		<p>Getting involved in <a href="https://www.birminghambeerweek.uk" target="_blank">Birmingham Beer Week</a> last year was fun, as it's first year it needed to step up after the successes of the Beer Bash previously. We have big things planned for this year!</p>
		<p>The <a href="http://themattkendallfoundation.org/" target="_blank">Matt Kendall Foundation</a> is a charity that aims to give young people a foot onto the ladder when they really need it. The brain child of Matt who sadly died after a battle with cancer, this is his legacy. With daughters in the same class I felt compelled to offer any help I could to get them up and running. Despite it being 'thrown together' in a very short space of time it has already helped people in need which is no bad thing :) </p>

            

      </article>
    </section>
    <section id="feature">
      <article>
        <div>Example projects</div>
         {% for page in site.pages   %}
         {% if page.title == 'About' %}


        <div class="services"  style="background: url({{page.thumbnail_image | relative_url}})top center / cover no-repeat;"> <a href="{{page.url }}" class="second-cta services">{{page.title }}</a>
      {% endif %}
        {% endfor %}</div>
      </article>
    </section>