---
layout: default
---

    <article id="introduction">
      <section>
          <h1>I'm Sush, I build websites and manage digital projects.</h1>
          <p>I work with clients small and large and really enjoy anything with an ethical or social mission.</p>
          <p>I have availability at the moment so <a href="mailto:sush@creativityandcode.co.uk?subject=From the frontpage" class="strike ">get in touch</a> if you have a project I might be able to help you with.</p>
         
      </section>
      {% assign work =  site.posts    %}
      {% for post in work limit:1  %}
     <a href="{{ post.url }}" ><section class="profile__pic" style>
        <img src="{{ site.baseurl }}/assets/tapes.svg" title="It's Sush, looking awkward as normal"/>
      </section></a>
      {% endfor %}

      <p class="note"><b class="pink_strike">Please note:</b> This site is currently in <b class="pink_strike">"It works on my machine mode"</b> and as such has not been fully tested in anything but the main three latest browsers. It has been great fun to just play around in css-grid! :)</p>
      {% include main-cta.html %}
    </article>

         
    
  <section id="mainStory">
      <article>

        {% assign post = site.case-studies.first %}
        <div class="backgroundImage" style="background: url({{post.thumbnail_image | relative_url}})top center / cover no-repeat;">
        </div>
         <div class="content">      
        <h3>
      {% if page.title %}
          {{ page.title }}
      {% endif %}
      {% if post.title %}
          {{ post.title }}
      {% endif %}
      </h3>
  
  {{ post.intro | markdownify  }}

  <a href="{{ post.url }}" class="cta ">Read the full Case Study</a>
      </div>
      </article>
    </section>

    <!-- <section id="feature">
        <h4> Recent Posts </h4> 
      <article>
         {% assign work =  site.categories.Work    %}
          {% for post in work limit:1 offset:2 %}
        <div  style="background: url({{post.thumbnail_image | relative_url}})top center / cover no-repeat;">
          <a href="{{ post.url }}" class="second-cta blog">{{post.title }}</a>
          {% endfor %}
        </div>
          {% assign play =  site.categories.Play    %}
          {% for post in play limit:1  %}
        <div   style="background: url({{post.thumbnail_image | relative_url}})top center / cover no-repeat;">

           <a href="{{ post.url }}" class="second-cta blog">{{post.title }}</a>
          {% endfor %}
        </div>
        {% for post in site.products limit:1 %}
        <div   style="background: url({{post.thumbnail_image | relative_url}})top center / cover no-repeat;">
           <a href="{{ post.url }}" class="second-cta art">{{post.title }} - £{{post.price }}</a>
          {% endfor %}</div>

          {% for page in site.pages   %}
         {% if page.title == 'Services' %}


        <div   style="background: url({{page.thumbnail_image | relative_url}})top center / cover no-repeat;"> <a href="{{page.url }}" class="second-cta services">{{page.title }}</a>
          </div>
      {% endif %}
        {% endfor %}
      </article>
    </section> -->





  
<!--       <section id="archive">
    <h3>Older Posts</h3> 
    <ul class="this">
    {%for post in site.posts offset:1 %}
      {% unless post.next %}
       
      {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
          </ul>
          <h3>{{ post.date | date: '%Y' }}</h3>
          <ul class="past">
        {% endif %}
      {% endunless %}
        <li><img src="{{ site.baseurl }}/assets/{{post.categories}}.svg" width="15" height="15"/> <time>{{ post.date | date:"%d %b" }}</time> - <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </section>
    </div>
  </div> -->
<!--   <h1 class="page-heading">Posts</h1> -->


  




<!--   <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

 
<!-- 
</div> -->
