<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
          <a href="mailto:{{ site.email }}">Need help on a digital project? Drop me a note at {{ site.email }}</a> <a class="page-link" href="https://twitter.com/maxray" target="_blank"><img src="{{ site.baseurl }}/assets/twitter.svg"></a> <a class="page-link" href="http://instagram.com/sushkelly" target="_blank"><img src="{{ site.baseurl }}/assets/instagram.svg"></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>
    </div>

  </div>

</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38635749-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
