<head><!-- <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css?family=Bitter|Raleway:700|Rock+Salt" rel="stylesheet">
 <!--   -->
  <script type="text/javascript">
    try {
      Typekit.load({
        async: true
      });
    } catch (e) {}
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="ALXOTyrGAyRJfUr-sncHICtKc8DfHq1Zl-dsRXkVFD0" />
  <meta name="twitter:image" content="http://www.sushkelly.co.uk/assets/twitter.jpg" property="twitter:image">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:locale" content="en_UK" />
  <!-- <meta property="og:type" content="website" />
        <meta property="og:title" content="Creativity & Code" />
        <meta property="og:description" content="Personal blog of Sush Kelly" />
        <meta property="og:url" content="http://www.sushkelly.co.uk/" />
        <meta property="og:site_name" content="Creativity & Code" />
        <meta property="og:image" content="http://www.sushkelly.co.uk/assets/twitter.jpg" /> -->
  <meta name="twitter:card" content="summary" /> {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}" /> {% else %}
  <meta name="twitter:description" content="{{ site.description }}" /> {% endif %} {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}"> {% else %}
  <meta name="twitter:title" content="{{ site.title }}"> {% endif %}
  <meta name="twitter:site" content="@maxray" />
  <meta name="twitter:domain" content="maxray" />
  <meta name="twitter:creator" content="@maxray" />


  <meta content="{{ site.title }}" property="og:site_name"> {% if page.title %}
  <meta content="{{ page.title }}" property="og:title"> {% else %}
  <meta content="{{ site.title }}" property="og:title"> {% endif %} {% if page.title %}
  <meta content="article" property="og:type"> {% else %}
  <meta content="website" property="og:type"> {% endif %} {% if page.description %}
  <meta content="{{ page.description }}" property="og:description"> {% else %}
  <meta content="{{ site.description }}" property="og:description"> {% endif %} {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url"> {% endif %} {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author"> {% endif %} {% if page.image %}
  <meta content="/assets/{{ page.image }}" property="og:image"> {% else %}
  <meta content="http://www.sushkelly.co.uk/assets/twitter.jpg" property="og:image"> {% endif %} {% if page.categories %} {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section"> {% endfor %} {% endif %} {% if page.tags %} {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag"> {% endfor %} {% endif %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml
    " | prepend: site.baseurl | prepend: site.url }}">

<script type="text/javascript">
<!--


    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->


</script>

<script type="text/javascript">
$(document).ready(function(){
  
    $(".showTog").click(function(){

      if ($(this).text() == "-") {
        $(this).html("+");
  } else{
    $(this).html("-");
  }
        
    });
});
</script>

</head>