<head>
  <script src="https://use.typekit.net/snn1cwo.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="ALXOTyrGAyRJfUr-sncHICtKc8DfHq1Zl-dsRXkVFD0" />
  <meta name="twitter:image" content="http://www.sushkelly.co.uk/assets/twitter.png" property="twitter:image">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:locale" content="en_UK" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Creativity & Code" />
        <meta property="og:description" content="Personal blog of Sush Kelly" />
        <meta property="og:url" content="http://www.sushkelly.co.uk/" />
        <meta property="og:site_name" content="Creativity & Code" />
        <meta property="og:image" content="http://www.sushkelly.co.uk/assets/twitter.png" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:description" content="Personal blog of Sush Kelly."/>
        <meta name="twitter:title" content="Creativity & Code"/>
        <meta name="twitter:site" content="@maxray"/>
        <meta name="twitter:domain" content="maxray"/>
        <meta name="twitter:creator" content="@maxray"/>


  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
