/**
 * Site header
 */
.site-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff740e+0,e86b0f+100 */
    background: #cccccc; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff740e 0%, #e86b0f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ff740e 0%,#e86b0f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ff740e 0%,#e86b0f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff740e', endColorstr='#e86b0f',GradientType=0 ); /* IE6-9 */


    border-top: 5px solid $brand-color;
    border-bottom: 1px solid $nice-black;
    padding:.5em 1em .5em .5em;

    // Positioning context for the mobile navigation icon
    position: relative;

    a {
        color: $nice-white;
        text-transform: uppercase;
        font-family: $heading-font-family;
    }
}

.site-title {
    font-size: 40px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-transform: uppercase;
    font-family: $heading-font-family;

    &,
    &:visited {
        color: $text-color;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    margin-top:15px;

    .menu-icon {
        display: none;
    }

    // .About:before {
    //     content: "";
    //     display:inline-block;
    //     background-image: url(../assets/About.svg);
    //     background-size:contain; 
    //     width: 15px;
    //     height: 15px;
    //     margin-right: 2px;
    // }

    // .Art:before {
    //     content: "";
    //     display:inline-block;
    //     background-image: url(../assets/Art.svg);
    //     background-size:contain; 
    //     width: 15px;
    //     height: 15px;
    //     margin-right: 2px;
    // }


    // .Work:before {
    //     content: "";
    //     display:inline-block;
    //     background-image: url(../assets/Work.svg);
    //     background-size:contain; 
    //     width: 15px;
    //     height: 15px;
    //     margin-right: 2px;
    // }

    // .Play:before {
    //     content: "";
    //     display:inline-block;
    //     background-image: url(../assets/Play.svg);
    //     background-size:contain; 
    //     width: 15px;
    //     height: 15px;
    //     margin-right: 2px;

        
    // }

    .page-link {
        color: $nice-white;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 30px;
        right: 25px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        margin-top:0;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    // border-top: 1px solid $grey-color-light;
    // padding: $spacing-unit;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff740e+0,e86b0f+100 */
        background: #cccccc; /* Old browsers */
        background: -moz-linear-gradient(top,  #ff740e 0%, #e86b0f 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #ff740e 0%,#e86b0f 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #ff740e 0%,#e86b0f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff740e', endColorstr='#e86b0f',GradientType=0 ); /* IE6-9 */
    
    
        border-top: 5px solid $brand-color;
        border-bottom: 1px solid $nice-black;
        padding:.5em 1em .5em .5em;

        a {
            text-transform: uppercase;
            font-family: $heading-font-family;
        }

        img {
            max-width:35px;
        }
    
}

.footer-heading {
    font-size: 18px;
    padding:$spacing-unit;
    margin-bottom: $spacing-unit / 2;
    background-color:$grey-color-light;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(65% - (#{$spacing-unit} / 2));
    width:         calc(65% - (#{$spacing-unit} / 2));
}


@include media-query($on-laptop) {
    .footer-col-1{
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-2 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */

#archive {



    ul {
        list-style: none;
        margin-bottom:20px;

        li {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: solid 1px #efefef;
        }


        img {
            margin-top: -3px;
        }
    }

}
.page-content {
    // padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */

.post {
    max-width: 1000px;
    margin:auto;
    padding:$spacing-unit;

    p:first-child {
        font-weight:400;
        font-size:25px;
        font-style: italic;
        margin-bottom: 30px;

    }
}

.home-content {
    p:first-child {
        font-weight:400;
        font-size:25px;
        font-style: italic;

    }

}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    padding: $spacing-unit/2 0 0 0;

    @include media-query($on-laptop) {
        font-size: 36px;
        padding: $spacing-unit/2 0 0 0 ;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    .instagrams {
        // display: flex;
        // flex-direction: row;

        .instagram {
             //flex: 1;
             iframe {
                //height:330px;
             }
        }
    }
}

/* SUSH NEW SITE */

.flexbox-container  {
   display: -webkit-box;      // OLD - iOS 6-, Safari 3.1-6 */
   display: -moz-box;         // OLD - Firefox 19- (buggy but mostly works) */
   display: -ms-flexbox;      // TWEENER - IE 10 */
   display: -webkit-flex;     // NEW - Chrome */
   display: flex;             // NEW, Spec - Opera 12.1
   max-width: 1300px;
margin: auto;
}

.flexbox-container > div {
    width: 35%;
    padding: 1em;
    // overflow: auto;
    // height: 100vh;
}

.flexbox-container > div:first-child {
    margin-right: 1em;
    width:65%;
    // padding: 0 25% 0 0;
    background-size:cover;

    // h1 , h3{
    //     background: rgba(255,255,255,.5);
    //     padding: 1em;
    //     display: inline-block;
    // }
}

.illustration-container  {
   display: -webkit-box;      // OLD - iOS 6-, Safari 3.1-6 */
   display: -moz-box;         // OLD - Firefox 19- (buggy but mostly works) */
   display: -ms-flexbox;      // TWEENER - IE 10 */
   display: -webkit-flex;     // NEW - Chrome */
   display: flex;             // NEW, Spec - Opera 12.1
   max-width: 1300px;
    margin: auto;

    .posts {
        display: flex;
        flex-direction: row;
        -webkit-flex-wrap: wrap; /* Safari */
        flex-wrap: wrap;
        -webkit-justify-content: space-around; /* Safari */
        justify-content:         space-around;

        li {
            flex: 1 1 300px;
            max-width: 450px;
            margin: 10px;

            img {
                margin-bottom: 1em;
            }
        }

    }
}

.cvPage  > div:nth-child(1) {
    width: 50%;
    padding: 1em;
    // overflow: auto;
    // height: 100vh;
}

.cvPage  > div:nth-child(2) {
    width: 50%;
    padding: 1em;
    // overflow: auto;
    // height: 100vh;
}

.cvList  > div:nth-child(1) ,.cvList  > div:nth-child(2),.cvList  > div:nth-child(3){
    width: 33%;
    padding: 1em;
    // overflow: auto;
    // height: 100vh;
}



.illustration-container  > div:first-child {
    width: 100%;
    padding: 1em;
    // overflow: auto;
    // height: 100vh;
}



@include media-query($on-palm) {

    .flexbox-container {
        display: block;
    }

    .flexbox-container > div {
       width: 90%;
    padding: 5%;
        height: auto;
        
    } 
    
    .cvPage  > div:nth-child(1) {
        width: 90%;
        padding: 5%;
        // overflow: auto;
        // height: 100vh;
    }
    
    .cvPage  > div:nth-child(2) {
        width: 90%;
        padding: 5%;
        // overflow: auto;
        // height: 100vh;
    }
    
    .cvList  > div:nth-child(1) ,.cvList  > div:nth-child(2),.cvList  > div:nth-child(3){
        width: 90%;
        padding: 5%;
        // overflow: auto;
        // height: 100vh;
    }
    

    #heightFix {
        height:25vh;
    } 

    .flexbox-container > div:first-child {
        margin-right: 0;
        width: 90%;
        padding: 5%;
        
        background-position: center;
        .post-title {
            padding:0;
        }

    }
}
