/**
 * Site header
 */

header {

    grid-column: 1 / -1;
    grid-row:1;
    /*display: grid;*/
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    margin-bottom: 1rem;
    @media only screen and (min-width: 500px) {


        height: 100px;
    }

    @media only screen and (max-width: 600px) {
        grid-column: 1 / -1;

        img {
            width: 150px;
        }
    }
}

.site-title {
    grid-column: 1 / span 3;
    padding: 1rem 0 0 2rem;

    @media only screen and (max-width: 600px) {
        grid-column: 1 / -1;
        padding: 1rem;
        text-align: center;
    }
} // header img {
//     grid-column: 1 / 3;
//   max-width:100%;
//     height:auto;
// }
header nav {
    //grid-column: 3 / 7; // max-width: 100%;
    // height: auto;
    grid-column: 8/-1;
    padding: 0 1rem;
    margin-top: -2px;
    // float: right;
    @media only screen and (max-width: 600px) {
        grid-column: 1/-1;
        height: 40px;
    }
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0; // align-items: top;max-width:320px;
    li {
        padding: 10px;
        height: 20px;
        -webkit-transition: all .2s;
        /* Safari */
        transition: all .2s;
        cursor: pointer;
        box-shadow: 1px 1px 5px #cccccc;
        position: relative;
        display: flex;
        align-items: stretch;
    }

    li:hover {
        height: 55px
    }
}

header nav ul li a,
header nav ul li a:link,
header nav ul li a:visited {
    color: navy;
    text-decoration: none;
    bottom: 15px;
    font-family: 'Rock Salt', cursive;
    text-transform: uppercase;
    font-size: 8px;
    display: flex;
    align-items: flex-end;
    /* text-align: center; */
}

header nav ul li:nth-child(1) {
    background-color: #fd4dcc; // grid-column: 1/2;
    // grid-row:1;
    -ms-transform: rotate(2deg);
    /* IE 9 */
    -webkit-transform: rotate(2deg);
    /* Safari */
    transform: rotate(2deg);
}

header nav ul li:nth-child(1):hover {
    background-color: darken(#fd4dcc, 10%);
}


header nav ul li:nth-child(2) {
    background-color: #ff8168; // grid-column: 2/2;
    // grid-row:1;
}

header nav ul li:nth-child(2):hover {
    background-color: darken(#ff8168, 10%);
}

header nav ul li:nth-child(3) {
    background-color: #d7fb65;
    -ms-transform: rotate(-2deg);
    /* IE 9 */
    -webkit-transform: rotate(-2deg);
    /* Safari */
    transform: rotate(-2deg); // grid-column: 1/2;
    // grid-row:2;
}

header nav ul li:nth-child(3):hover {
    background-color: darken(#d7fb65, 10%);
}

header nav ul li:nth-child(4) {
    background-color: #00f66a;
    -ms-transform: rotate(2deg);
    /* IE 9 */
    -webkit-transform: rotate(2deg);
    /* Safari */
    transform: rotate(2deg); // grid-column: 2/2;
    // grid-row:2;
}

header nav ul li:nth-child(4):hover {
    background-color: darken(#00f66a, 10%);
}


// CASE STUDY 
#case-study{
    @media only screen and (min-width: 1024px) {
        display: grid;
    }

    grid-template-columns: repeat(12 ,  1fr);
    grid-template-rows: 100px;
    grid-gap:2rem;


    .images {
        display:grid;
        grid-template-columns: 1fr  1fr;
        @media only screen and (max-width: 600px) {
            width: 100vw;
            position: relative;
            margin-left: -50vw;
            left: 50%;
            grid-template-columns: 1fr;
        }
        grid-gap:1rem;
        figure {
            grid-column: 1fr;
        }

        figcaption {
            @media only screen and (max-width: 600px) {
                padding: .5rem 0 0 2rem;
            }

        }
    }

    




}


.profile__pic {
    transform: rotate(4deg); 
    max-width:90%;
    margin:auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 92%;
    background-image: url(../assets/sush-kelly.png);
    cursor: pointer;

}

.profile__pic:hover {
    background-image: url(../assets/sush-kelly-sketch.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 92%;
}


#mainStory {
    // grid-column: 7 / -1;
    // grid-row: 1 / 6;
    // /* overscroll-behavior-y: inherit; */
    // overflow: scroll;
    // height: 100vh;
    grid-column: 6 / -1;
    grid-row: 1 / -1;

    div:first-of-type {
        margin-bottom: 2rem;
    }

    .preamble , .content {
        padding: 2rem;
    }
}

#mainStory.slim {
    grid-column: 5 / -1;
    grid-row: 3 /-1;
}

#mainStory .backgroundImage {
    grid-row: 1/ span 2;
    background-image: url('images/main.jpg');
    background-size: cover;
    min-height: 30vh;
    @media only screen and (min-width: 768px) {

        min-height: 50vh;
    }

    

}




#introduction {
    grid-column: 1 / span 5;
    grid-row: 2;
    padding: 2rem;
}

#introduction.slim {
    grid-column: 1 / span 4;
}

#list1  {
    grid-column: 1 / span 5;
    grid-row: 3;
}

#list2  {
    grid-column: 1 / span 5;
    grid-row: 4;
    padding: 2rem;

    section {
        padding: 2rem;
    }
}


#feature {
    grid-column: 1 / span 5;
    grid-row:3;
    
    padding: 2rem;
}

#feature article {
    @media only screen and (min-width: 600px) {
        display: grid;
    }

    grid-gap: 1rem;
    grid-template-columns: repeat(2,
    1fr); // grid-template-rows: 1fr 1fr;
}

#feature article div {
    min-height: 150px;
    @media only screen and (max-width: 600px) {
        margin-bottom:1rem;
    }
}

#feature article div:nth-child(1) {
    background-color: orange;
    grid-column: 1/2;
    grid-row: 1;
}

#feature article div:nth-child(2) {
    background-color: pink;
    grid-column: 2/2;
    grid-row: 1;
}

#feature article div:nth-child(3) {
    background-color: green;
    grid-column: 1/2;
    grid-row: 2;
}

#feature article div:nth-child(4) {
    background-color: #ffcc00;
    grid-column: 2/2;
    grid-row: 2;
}


#pagination {
    grid-column: 1 / span 6;
    padding: 2rem;
}

#pagination article {
    display: grid;
    grid-gap: 1rem; //grid-template-columns: repeat(2, 1fr); // grid-template-rows: 1fr 1fr;
   // grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    grid-template-columns: 1fr 1fr;
}

#pagination article div {
    min-height: 150px;
}

#pagination article div:nth-child(1) {

    grid-column: 1/2;
    grid-row: 1;
    text-align: right;
    padding: 1rem;
}

#pagination article div:nth-child(2) {

    grid-column: 2/2;
    grid-row: 1;
    border-left: solid 2px;
    padding: 1rem;
}

.fourFeature {
    display: grid;
    grid-gap: 1rem;

    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    img {
        border: dashed 1px #999999;
        margin-bottom: 1rem;
    }
}


#artwork {
    @media only screen and (min-width: 500px) {
        display: grid;
    }

    grid-gap: 1rem;
    grid-template-columns: repeat(5,
    1fr);
    grid-row: 2;
    grid-column: 1 / -1;
    padding: 2rem;
    @media only screen and (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    .art-intro {
        grid-column: 1 / span 2;
        grid-row: 1 /2;

        @media only screen and (max-width: 768px) {
            grid-column: 1 / -1;
        }
    }
}

.blog-posts {
    list-style: none;
    margin-left: 0;

    li {
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 20px 60px 10px 1fr;
    }
}

.past-posts {
    list-style: none;
    li {
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 20px 60px 10px 1fr;
    }
}

#the2017,
#the2016,
#the2015,
#the2014,
#the2013 {
    display: none;
}

.main-cta {
    grid-column: 1 / span 5;
    grid-row:4;
    padding: 3rem 2rem 1rem 2rem;
    color: #2b2b2b; 
    transform: rotate(4deg);
    box-shadow: 0px 0px 10px #cccccc;
    margin-bottom: 1rem;
    position: relative;

    @media only screen and (min-width: 1024px) {

        margin-left:2rem;
        margin-right: 2rem;
    }

    img {
        width: 25px;
    }


    background-color: $yellow;

    a {
        color: #2b2b2b;

        &:hover {
            color: #2b2b2b;
        }
    }

    .strike:hover {
        color: #ffffff;
    }
}

.main-cta:before {
    background-image: url(../assets/Paperclip.svg);
    content: " ";
    position: absolute;
    width: 32px;
    height: 118px;

    left: 21px;
    top: -28px;
    transform: rotate(99deg);
}

.calling-card {
    grid-column: 1 / span 5;
    grid-row:5;
    padding: 3rem 2rem 1rem 2rem;
    color: #2b2b2b; 
    transform: rotate(-4deg);
    box-shadow: 0px 0px 10px #cccccc;
    margin-bottom: 1rem;
    position: relative;

    @media only screen and (min-width: 1024px) {

        margin-left:2rem;
        margin-right: 2rem;
    }

    img {
        width: 25px;
    }


    background-color: $yellow;

    a {
        color: #2b2b2b;

        &:hover {
            color: #2b2b2b;
        }
    }

    .strike:hover {
        color: #ffffff;
    }
}

.calling-card:before {
    background-image: url(../assets/Paperclip.svg);
    content: " ";
    position: absolute;
    width: 32px;
    height: 118px;

    left: 21px;
    top: -28px;
    transform: rotate(99deg);
}


//             footer::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     right: 0;
//     border-color: transparent;
//     border-style: solid;
// }
// footer::before {
//    content: '';
//     position: absolute;
//     top: 0; right: 0;
//     border-top: 80px solid white;
//     border-left: 80px solid red;
//     width: 0;
// }
// footer::after {
//     border-radius: 0.4em;
//     border-width: 1.35em;
//     border-right-color: #0c0;
//     border-top-color: #0c0;
// }

/**
 * Page content
 */

#archive {



    ul {
        list-style: none;
        margin-bottom: 20px;

        li {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: solid 1px #efefef;
        }


        img {
            margin-top: -3px;
        }
    }
}

.page-content {
    // padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    >li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    font-size: 1rem;
}

.post-link {
    display: block;
    font-size: 24px;
}







/**
 * Posts
 */

.post {
    max-width: 1000px;
    margin: auto;
    padding: $spacing-unit;

    p:first-child {
        font-weight: 400;
        font-size: 25px;
        font-style: italic;
        margin-bottom: 30px;
    }
}

.home-content {
    p:first-child {
        font-weight: 400;
        font-size: 20px;
        font-style: italic;
    }
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    padding: $spacing-unit/2 0 0 0;
    margin-bottom: 5px;

    @include media-query($on-laptop) {
        font-size: 36px;
        padding: $spacing-unit/2 0 0 0;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 34px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 28px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 19px;
        }
    }

    .instagrams {
        // display: flex;
        // flex-direction: row;
        .instagram {
            //flex: 1;
            iframe {
                //height:330px;
            }
        }
    }
}





/* SUSH NEW SITE */

.callOut {
    background-color: #efefef;
    padding: 30px;
    border-radius: 20px;
}

.posts {
    li {
        margin-bottom: 20px;
    }
}

.flexbox-container {
    display: -webkit-box; // OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; // OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; // TWEENER - IE 10 */
    display: -webkit-flex; // NEW - Chrome */
    display: flex; // NEW, Spec - Opera 12.1
    max-width: 1300px;
    margin: auto;
}

.flexbox-container>div {
    width: 35%;
    padding: 1em; // overflow: auto;
    // height: 100vh;
}

.flexbox-container>div:first-child {
    margin-right: 1em;
    width: 65%; // padding: 0 25% 0 0;
    background-size: cover; // h1 , h3{
    //     background: rgba(255,255,255,.5);
    //     padding: 1em;
    //     display: inline-block;
    // }
}

.illustration-container {
    display: -webkit-box; // OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; // OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; // TWEENER - IE 10 */
    display: -webkit-flex; // NEW - Chrome */
    display: flex; // NEW, Spec - Opera 12.1
    max-width: 1300px;
    margin: auto;

    .posts {
        display: flex;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        /* Safari */
        flex-wrap: wrap;
        -webkit-justify-content: space-around;
        /* Safari */
        justify-content: space-around;

        li {
            flex: 1 1 300px;
            max-width: 450px;
            margin: 10px;

            img {
                margin-bottom: 1em;
            }
        }
    }
}

.cvPage>div:nth-child(1) {
    width: 50%;
    margin-right: 0;
    padding: 1em 0 1em 1em; // overflow: auto;
    // height: 100vh;
}

.cvPage>div:nth-child(2) {
    width: 50%;
    padding: 1em; // overflow: auto;
    // height: 100vh;
}

.cvList>div:nth-child(1),
.cvList>div:nth-child(2),
.cvList>div:nth-child(3) {
    width: 33%;
    padding: 1em; // overflow: auto;
    // height: 100vh;
}



.illustration-container>div:first-child {
    width: 100%;
    padding: 1em; // overflow: auto;
    // height: 100vh;
}



@include media-query($on-palm) {

    .flexbox-container {
        display: block;
    }

    .flexbox-container>div {
        width: 90%;
        padding: 5%;
        height: auto;
    }

    .cvPage>div:nth-child(1) {
        width: 90%;
        padding: 5%; // overflow: auto;
        // height: 100vh;
    }

    .cvPage>div:nth-child(2) {
        width: 90%;
        padding: 5%; // overflow: auto;
        // height: 100vh;
    }

    .cvList>div:nth-child(1),
    .cvList>div:nth-child(2),
    .cvList>div:nth-child(3) {
        width: 90%;
        padding: 5%; // overflow: auto;
        // height: 100vh;
    }


    #heightFix {
        height: 25vh;
    }

    .flexbox-container>div:first-child {
        margin-right: 0;
        width: 90%;
        padding: 5%;

        background-position: center;
        .post-title {
            padding: 0;
            margin-bottom: 5px;
        }
    }
}