---
layout: default
---

<!-- <article id="case-study"> -->
    <section id="introduction">
        <h1 class="art-title">{{ page.title }}</h1>
        {{ page.intro  | markdownify}}
    </section>
    <section id="mainStory">
        <img src="{{page.thumbnail_image | relative_url}}" alt="{{ page.title }}" class="lead-image"/>
            <div class="preamble">
            {{ page.preamble | markdownify  }}
        </div>
        <div class="content">
            {{ page.content }}
        </div>

    </section>
    <section id="list1" class="main-cta">
        {{ page.list1 | markdownify  }}
    </section>
    <section id="list2">
        <h3>Timeline</h3>
        {{ page.list2 | markdownify  }}
    </section>
    {% include main-cta.html %}


<!-- </article> -->