<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body

  {% if page.url == "/about/" %} class="b-about" {% endif %}
  {% if page.url == "/blog/" %} class="b-blog"{% endif %}
  {% if page.url == "/digital-services-for-small-businesses/" %} class="b-services"{% endif %}
  {% if page.url == "/digital-services-and-project-management/" %} class="b-project-management"{% endif %}

  >

    {% include header.html %}

           {{ content }}


    {% include footer.html %}

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4497865.js"></script>
<!-- End of HubSpot Embed Code -->
  </body>

</html>
