---
layout: default
---

   <section id="mainStory" class="slim">
    <article>
        <!-- <div class="backgroundImage" style="background: url({{page.thumbnail_image | relative_url}})top center / cover no-repeat;"></div> -->
        <div class="content">
            <h1><img src="{{ site.baseurl }}/assets/{{page.categories}}.svg" width="35" height="35" alt="Category Icon" /> 
{% if page.title %}
    {{ page.title }}
{% endif %}
{% if post.title %}
    {{ post.title }}
{% endif %}
</h1>
            <p class="post-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
            </p>
            {{ content }}

            <section id="pagination">
    <article>
        <div>
            <h3>Previous</h3>
            <p>{{page.previous.title}}</p>
            <p><a  class="cta"  href="{{ site.baseurl }}{{page.previous.url}}">Read Post</a></p>
        </div>
        {% if page.next %}
        <div>
            <h3>Up Next</h3>
            <p>{{page.next.title}}</p>
            <p><a  class="cta"  href="{{ site.baseurl }}{{page.next.url}}">Read Post</a></p>
        </div>
        {% endif %}
    </article>
</section>


        </div>

    </article>
</section>

<section id="introduction" class="slim">
    <article>
        <h1 class="blog-title">Work and Play</h1>
        <p>Thoughts on the design industry and other such bits and bobs.Things I do for fun... be it out in the hills, geeking out or drinking beer :) </p>
        <ul class="blog-posts">
            {%for post in site.posts %} {% unless post.next %} {% else %} {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %} {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %} {% if year != nyear %}
        </ul>
        <h3>{{ post.date | date: '%Y' }}  <a onclick="toggle_visibility('the{{ post.date | date: '%Y' }}');" class="showTog strike">+</a> </h3> 
        <ul class="past-posts" id="the{{ post.date | date: '%Y' }}">
            {% endif %} {% endunless %}
            <li><img src="{{ site.baseurl }}/assets/{{post.categories}}.svg" width="15" height="15" alt="category icon" />
                <time>{{ post.date | date:"%d %b" }}</time> - <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </article>
</section>


<!-- </div>
<div>
  <section id="archive">
    <h3>This year's posts</h3>
    {%for post in site.posts %}
      {% unless post.next %}
        <ul class="this">
      {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
          </ul>
          <h3>{{ post.date | date: '%Y' }}</h3>
          <ul class="past">
        {% endif %}
      {% endunless %}
        <li><img src="{{ site.baseurl }}/assets/{{post.categories}}.svg" width="15" height="15"/> <time>{{ post.date | date:"%d %b" }}</time> - <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  
 
</section>
</div>
 -->