@import url("tmp/tooltips.css");

:root {
--font-family: Montserrat, sans-serif;
--font-weight-light: 300;
--font-weight-default: 400;
--font-weight-semibold: 600;
--font-weight-bold: 700;

--font-size-x-display: 4.3rem;
--font-size-display: 2.986rem;
--font-size-xx-large: 2.074rem;
--font-size-x-large: 1.728rem;
--font-size-large: 1.44rem;
--font-size-medium: 1.2rem;
--font-size-default: 1rem;
--font-size-small: 0.833rem;
--font-size-x-small: 0.694rem;
--font-size-xx-small: 8px;

--lineheight-text: 1.4;
--lineheight-heading: 1.2;

--color-brand: #0093d2;
--color-brand-dark: #0373a5;
--color-brand-light: #00d1f7;
--color-accent: #0bdfab;
--color-warning: #f7ae00;
--color-negative: #d91636;
--color-negative-alt: #EF880D;
--color-positive: #00c372;
--color-positive-alt: #BAB31C;

--color-text-default: #292935;
--color-text-alt: #fff;

--color-background: #fff;
--color-background-selection: #f0f2f3;
--color-base: #f5f5f7;
--color-border: #dfdfe3;
--color-light: #fff;
--color-mid: #6f707c;
--color-dark: #494957;
--color-darkest: #292935;

--color-text-link: var(--color-brand-dark);
--color-text-link-active: var(--color-text-link);
--color-text-link-focus: var(--color-text-link);
--color-text-link-hover: var(--color-text-link);
--color-text-link-visited: var(--color-text-link);

--color-input-background: var(--color-background);
--color-input-background-hover: var(--color-background);
--color-input-background-active: var(--color-background);
--color-input-border: var(--color-border);
--color-input-border-hover: var(--color-border);
--color-input-border-active: var(--color-mid);

--color-button: var(--color-brand);
--color-button-hover: var(--color-brand-dark);
--color-button-active: #1aabeb;
--color-button-border: #059de1;

--color-button-alt: var(--color-base);
--color-button-hover-alt: var(--color-mid);
--color-button-active-alt: var(--color-base);
--color-button-border-alt: var(--color-border);

--border-radius-x-small: .15rem;
--border-radius-small: .25rem;
--border-radius-medium: .5rem;
--border-radius-large: 1rem;
--border-radius-circle: 50%;

--border-width-hairline: .5px;
--border-width-thin: 1px;
--border-width-thick: 2px;

--box-shadow: 0 0 1em rgba(0,0,0,.25);

--grid-column-gap: 2vw;
--grid-row-gap: 2vh;
--max-width: 82rem;

--spacing-xx-small: .1rem;
--spacing-x-small: .125rem;
--spacing-small: .25rem;
--spacing: .5rem;
--spacing-medium: 1rem;
--spacing-large: 1.5rem;
--spacing-x-large: 2rem;
--spacing-xx-large: 3rem;
--spacing-xxx-large: 4rem;
--spacing-xxxx-large: 5rem;

--duration-instantly: 0;
--duration-immediately: .1s;
--duration-quickly: .2s;
--duration-promptly: .5s;
--duration-slowly: 1s;
}

@-ms-viewport {
width: device-width; }

@-o-viewport {
width: device-width; }

@viewport {
width: device-width; }

/* =selection */

::-moz-selection {
background-color: var(--color-background-selection);
text-shadow: none; }

::selection {
background-color: var(--color-background-selection);
text-shadow: none; }

/* =scrollbar */

::-webkit-scrollbar-track {
background-color: var(--color-base);
border-radius: 12px; }

::-webkit-scrollbar {
width: 6px;
height: 6px; }

::-webkit-scrollbar-thumb {
background-color: var(--color-brand);
border-radius: 12px; }

/* =body */

html {
background-color: var(--color-background);
-webkit-text-size-adjust: 100%; 
scroll-behavior: smooth;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
box-sizing: border-box;}

body {
margin: 0;
padding: 0;
font-family: var(--font-family);
font-feature-settings: "liga" 1;
font-size: var(--font-size-default);
font-weight: var(--font-weight-default);
line-height: var(--lineheight-text);
color: var(--color-text-default); }

@supports (font-variant-ligatures:common-ligatures) {
body {
font-feature-settings: normal;
font-variant-ligatures: common-ligatures; }
}

/* =a */

a {
color: var(--color-text-link);
text-decoration: none; }

a:hover {
text-decoration: underline;
color: var(--color-text-link-hover); }

a:focus {
outline: thin dotted;
color: var(--color-text-link-active); }

a:hover,
a:active {
outline: 0 }

a:link {
transition: color var(--duration-quickly) ease; }

/* =hx */

h1, h2, h3, h4, h5, h6 {
margin: 0 0 var(--spacing-medium);
font-family: var(--font-family);
font-weight: var(--font-weight-semibold);
line-height: var(--lineheight-heading); }

h1 {
font-size: var(--font-size-xx-large);
font-weight: var(--font-weight-light);
color: var(--color-brand); }

h1 span {
color: var(--color-text-default); }

h2 {
font-size: var(--font-size-x-large);
font-weight: var(--font-weight-light); }

h3 {
font-size: var(--font-size-large); }

h4 {
font-size: var(--font-size-medium); }

h5, h6 {
font-size: var(--font-size-default); }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
color: var(--color-text-link);
cursor: pointer; }

/* =blockquote */

blockquote {
margin: var(--spacing-x-large) 0;
padding: 0;
box-sizing: border-box; }

blockquote:first-child {
margin-top: 0; }

blockquote p {
font-size: var(--font-size-medium);
font-weight: var(--font-weight-semibold);
color: var(--color-brand); }

blockquote p:last-of-type,
blockquote p:only-of-type {
margin-bottom: var(--spacing); }

blockquote cite {
display: block;
font-size: var(--font-size-small);
font-style: normal; }

/* =p */

p {
margin-top: 0;
font-size: var(--font-size-default); }

p:last-child:only-child {
margin-bottom: 0; }

.noz-tertiary {
font-size: var(--font-size-x-small); }

.noz-milli {
font-size: var(--font-size-xx-small);
line-height: calc(var(--lineheight-text) / 1.05); }

.noz-standfirst {
font-size: var(--font-size-large); }

.noz-lede {
font-size: var(--font-size-medium); }

.noz-cap::first-letter {
float: left;
margin: 0 .25em .15em 0;
padding: 0 .25em;
background-color: var(--color-brand);
font-size: var(--font-size-display);
font-weight: var(--font-weight-bold);
color: var(--color-text-alt);
transform: translateY(.15em); }

@media (min-width:64em) {

.noz-display {
margin-bottom: var(--spacing);
font-size: var(--font-size-display); }

.noz-secondary {
font-size: var(--font-size-small); }
}

/* margins */

.noz-margin--auto {
margin-right: auto;
margin-left: auto; }

.noz-margin--top {
margin-top: var(--spacing-medium); }

.noz-margin--bottom {
margin-bottom: var(--spacing-medium); }

.noz-margin--bottom-zero {
margin-bottom: 0; }

.noz-margin--left {
margin-left: var(--spacing-medium); }

.noz-margin--right {
margin-right: var(--spacing-medium); }

/* align */

.noz-align--center {
text-align: center; }

@media (min-width:64em) {

.noz-align--right {
text-align: right; }
}

/* =ul */

ol {
list-style-type: none;
margin-left: 0;
padding-left: 0;
counter-reset: ol-counter;
font-size: var(--font-size-default); }

ol li {
counter-increment: ol-counter;
margin-left: -1rem; }

ol li:before {
margin-right: var(--spacing-medium);
content: counter(ol-counter);
color: var(--color-text-default); }

ul {
list-style-type: none;
margin-left: 0;
padding-left: 0;
font-size: var(--font-size-default); }

ul li:before {
content: "• ";
color: var(--color-brand); }

li > ul,
li > ol {
margin: var(--spacing) 0 var(--spacing) var(--spacing);
padding: 0; }

.noz-list-columns {
list-style-type: none;
margin-left: 0;
padding-left: 0;
column-count: 2;
column-gap: var(--grid-column-gap); }

.noz-list-columns li {
font-size: var(--font-size-small); }

.noz-list-columns li:before {
content: ""; }

dl {
font-size: var(--font-size-default); }

dt {
font-weight: var(--font-weight-semibold); }

dd {
margin: 0 0 var(--spacing); }

/* =misc */

small {
font-size: var(--font-size-small); }

b,
strong {
font-weight: var(--font-weight-semibold); }

sup {
font-weight: var(--font-weight-default); }

abbr[title] {
border-bottom : var(--border-width-thin) dotted var(--color-border);
cursor : help; }

dfn {
font-style : italic; }

pre {
white-space : pre;
white-space : pre-wrap;
word-wrap : break-word;
font-family: inherit; }

/* =button */

.noz-btn {
-webkit-appearance: none;
display: inline-flex;
justify-content: center;
align-items: center;
margin: 0;
padding: var(--spacing-medium) var(--spacing-large);
background-color: var(--color-button);
color: var(--color-text-alt);
border-width: 0;
border-radius: var(--border-radius-small);
font-size: var(--font-size-small);
font-weight: var(--font-weight-semibold);
font-family: var(--font-family);
letter-spacing: .025em;
text-align: center;
cursor: pointer;
transition: var(--duration-promptly) all ease; }

.noz-btn:hover {
background-color: var(--color-button-hover);
color: var(--color-text-alt); }

.noz-btn:active {
background-color: var(--color-button-active);
box-shadow: inset 0 0 0 var(--border-width-thick) var(--color-button-border);
color: var(--color-text-alt); }

.noz-btn--block {
width: 100%;
box-sizing: border-box; }

.noz-btn--lg {
font-size: var(--font-size); }

.noz-btn--sm {
font-size: var(--font-size-x-small); 
padding: var(--spacing) var(--spacing-medium); }

.noz-btn--alt {
background-color: var(--color-accent); }

.noz-btn--code {
display: flex;
align-items: center;
margin: var(--spacing-large) 0;
padding: var(--spacing) var(--spacing-large);
background-color: var(--color-background);
border: var(--border-width-thin) solid var(--color-border);
font-family: 'Courier New', Courier, monospace;
font-size: var(--font-size-small); 
color: var(--color-text-default); }

.noz-btn--code div:first-of-type {
flex: 1;
text-align: center; }

.noz-btn--outline {
display: flex;
align-items: center;
margin: var(--spacing-large) 0;
padding: var(--spacing) var(--spacing-large);
background-color: var(--color-background);
border: var(--border-width-thin) solid var(--color-brand);
color: var(--color-brand); }

.noz-btn--outline div:first-of-type {
flex: 1;
text-align: center; }

.noz-btn--secondary {
background-color: var(--color-border);
color: var(--color-text-default); }

.noz-btn--reset {
padding: 0;
border-width: 0;
background-color: transparent;
font-family: inherit;
font-size: inherit;
font-weight: var(--font-weight-semibold);
color: var(--color-text-link);
outline: none;
cursor: pointer; }

/* =img */

figure {
margin: var(--spacing-large) 0; }

figure img {
margin-bottom: var(--spacing-medium); }

figcaption {
font-size: var(--font-size-x-small); 
font-style: normal; }

img {
max-width: 100%;
border-width: 0;
vertical-align: middle; }

img[width],
img[height] {
max-width: none; }

/* =forms */

form {
margin: 0 0 var(--spacing) 0;
padding: 0; }

fieldset {
margin: 0 0 var(--spacing) 0;
padding: 0; 
border: 0; }

.field {
position: relative; }

label {
margin: 0;
color: var(--color-input-text); }

[type="email"],
[type="password"],
[type="tel"],
[type="text"],
textarea {
-webkit-appearance: none;
appearance: none;
display: block;
box-sizing: border-box;
margin-bottom: var(--spacing-x-large);
padding: var(--spacing);
width: 100%;
background-color: var(--color-input-background);
border: var(--border-width-thin) solid var(--color-input-border);
border-radius: var(--border-radius-small);
font-size: var(--font-size-small);
font-family: var(--font-family);
color: var(--color-input-text);
transition: all var(--duration-quickly) ease;
box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.08); }

/* labels on a dark background */

.dark-bg .noz-input-wrap input[type="text"]:focus + label , .dark-bg .noz-input-wrap input[type="email"]:focus + label , .dark-bg .noz-input-wrap input[type="tel"]:focus + label {
    background-color: initial;  
    color:var(--color-text-alt);
    transform: translateY(-120%);
}

textarea {
min-height: 12vh;
resize: vertical; }

[type="email"]:focus,
[type="password"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
textarea:focus {
border: var(--border-width-thin) solid var(--color-mid); 
box-shadow: none;}

input:focus,
textarea:focus {
outline: 0; }

/* errors */

[type="email"].error,
[type="password"].error,
[type="tel"].error,
[type="text"].error {
border: var(--border-width-thin) solid var(--color-negative);
color: var(--color-negative); }

[type="email"].error + .error-label,
[type="password"].error + .error-label,
[type="tel"].error + .error-label,
[type="text"].error + .error-label {
display: block; }

[type="email"].error + label,
[type="password"].error  + label,
[type="tel"].error  + label,
[type="text"].error  + label {
color: var(--color-negative); }

.noz-error-label {
position: absolute;
right: 0;
top: calc(var(--spacing-large) * -1);
font-size: var(--font-size-x-small);
font-weight: var(--font-weight-semibold);
color: var(--color-negative); }

/* floating label pattern is default */

.noz-input-wrap {
position: relative; }

.noz-input-wrap label {
position: absolute;
top: 0;
left: 5px;
padding: calc(var(--spacing)/2) calc(var(--spacing)/2);
opacity: .75;
font-size: var(--font-size-small);
line-height: 1;
transition: all var(--duration-quickly) ease; 
pointer-events: none;
background-color: var(--color-background);
transform:  translateY(7px); }

.noz-input-wrap input:focus + label,
.noz-input-wrap input:focus + label,
.noz-input-wrap textarea:focus + label, 
.noz-input-wrap textarea:valid + label {
font-size: var(--font-size-x-small);
opacity: 1;
transform:  translateY(-50%); }

/* input and button */

.noz-field {
display: flex;
align-items: normal;
margin-bottom: var(--spacing); }

.noz-field .noz-input-wrap {
flex: 1; }

.noz-field .noz-input-wrap input {
border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
border-right: 0;
margin: 0; }

.noz-input-wrap + .noz-btn {
border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0; }

/* Checkbox */

.noz-checkbox {
margin-bottom: var(--spacing-medium); }

.noz-checkbox input[type="checkbox"] {
opacity: 0;
position: absolute; }

.noz-checkbox input[type="checkbox"] + label {
position: relative;
cursor: pointer;
padding: 0 0 0 2rem;
font-size: var(--font-size-small); }

.noz-checkbox input[type="checkbox"] + label:before,
.noz-checkbox input[type="checkbox"] + label:after {
position: absolute;
display: inline-block;
transition: all var(--duration-quickly) ease;
content: ''; }

.noz-checkbox input[type="checkbox"] + label:before {
height: 1.25rem;
width: 1.25rem;
border: 1px solid var(--color-border);
border-radius: var(--border-radius-small);
top: 0;
left: 0; }

.noz-checkbox input[type="checkbox"] + label:after {
height: 4px;
width: 9px;
border-left: 2px solid var(--color-base);
border-bottom: 2px solid var(--color-base);
transform: rotate(-45deg);
left: 6px;
top: 6px;
opacity: 0;
transform: scale(0.5) rotate(0); }

.noz-checkbox input[type="checkbox"]:not(:checked) + label:hover:before {
border: 1px solid var(--color-brand); }

.noz-checkbox input[type="checkbox"]:checked + label:before {
background: var(--color-brand); 
border: 1px solid transparent; }

.noz-checkbox input[type="checkbox"]:checked + label:after {
opacity: 1;
transform: scale(1) rotate(-45deg); }

/* Radio */

.noz-radio-group {
margin-bottom: var(--spacing-medium); }

.noz-radio-group .noz-radio {
margin-bottom: var(--spacing); }

@media screen and (min-width:48em) {

.noz-radio-group {
display: flex; }

.noz-radio-group .noz-radio {
flex: 1;
margin: 0 var(--spacing-large) 0 0; }
}

.noz-radio input[type="radio"] {
opacity: 0;
position: absolute; }

.noz-radio input[type="radio"] + label {
position: relative;
cursor: pointer;
padding: 0 0 0 2rem;
font-size: var(--font-size-small); }

.noz-radio input[type="radio"] + label:before,
.noz-radio input[type="radio"] + label:after {
position: absolute;
display: inline-block;
border-radius: 50%;
transition: all var(--duration-quickly) ease;
content: ''; }

.noz-radio input[type="radio"] + label:before {
top: 0;
left: 0;
height: 1.25rem;
width: 1.25rem;
border: 1px solid var(--color-border); }

.noz-radio input[type="radio"] + label:after {
height: .875rem;
width: .875rem;
background: var(--color-brand);
left: 4px;
top: 4px;
opacity: 0;
transform: scale(0.8); }

.noz-radio input[type="radio"]:not(:checked) + label:hover:before {
border: 1px solid var(--color-brand); }

.noz-radio input[type="radio"]:checked + label:after {
opacity: 1;
transform: scale(1); }

.noz-radio input[type="checkbox"]:focus + label:before {
outline: rgb(59, 153, 252) auto 5px; }

/* =hr */

hr {
clear: both;
display: block;
margin: var(--spacing-large) 0;
padding: 0;
height: 1px;
border: 0;
border-bottom: var(--border-width-thin) solid var(--color-border); }

.noz-hr--sm {
margin: var(--spacing) 0; }

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
hr {
border-bottom-width: var(--border-width-hairline); }
}

@media screen and (min-width:48em) {
.hr--spacer {
border-bottom-width: 0; }
}

/* =table */

table {
margin-bottom: var(--spacing-x-large);
width: 100%;
background-color: transparent;
border-collapse: collapse;
font-family: var(--font-family); }

th,
td {
padding: var(--spacing) var(--spacing-medium) var(--spacing) var(--spacing);
font-size: var(--font-size-small);
text-align: left;
vertical-align: middle; }

th {
font-family: var(--font-family);
font-weight: var(--font-weight-semibold);
white-space: nowrap; }

th h3 {
margin: 0;
font-size: var(--font-size-small);
text-transform: none; }

td:first-of-type {
padding-left: var(--spacing-x-small); }

thead th,
thead td {
border-bottom: var(--border-width-thick) solid var(--color-border); }

tbody th,
tbody td {
border-bottom: var(--border-width-thin) solid var(--color-border); }

tbody tr:last-of-type th,
tbody tr:last-of-type td {
border-bottom-width: 0; }

.noz-td--divider {
padding-left: var(--spacing-medium);
border-left: var(--border-width-thin) solid var(--color-border); }

.noz-td--base {
background-color: var(--color-base); }

.noz-td--milli {
width: 20px; }

.noz-td--secondary {
min-width: 10rem; }

/* responsive */

.noz-table--responsive {
display: inline-block;
vertical-align: top;
max-width: 100%;
overflow-x: auto;
border-spacing: 0;
-webkit-overflow-scrolling: touch; }

/* =compare */

.noz-table--compare h3 {
margin-bottom: var(--spacing);
font-weight: var(--font-weight-semibold); 
text-align: center; }

.noz-table--compare .noz-secondary {
font-weight: var(--font-weight-light); 
text-align: center; }

.noz-table--compare td {
text-align: center; }

/* indented */

.noz-margin--indented {
margin-left: 30px;
width: calc(100% - 30px)!important; }

table table,
table table table {
margin-bottom: 0; }

table table table > tbody th,
table table table > tbody td {
border-bottom-width: var(--border-width-thin); }

table table table tbody tr:nth-of-type(even) th,
table table table tbody tr:nth-of-type(even) td {
background-color: var(--color-base); }

/* styled */

.noz-table--styled thead tr:first-of-type {
background-color: var(--color-brand-dark);
color: var(--color-text-alt); }

.noz-table--styled thead tr th:first-of-type  {
border-radius: var(--border-radius-small) 0 0 var(--border-radius-small); }

.noz-table--styled thead tr th:last-of-type {
border-radius: 0 var(--border-radius-small)  var(--border-radius-small) 0; }

/* =accordion */

.noz-is-parent {
cursor: pointer; }

.noz-is-child {
display: none; }

.noz-accordian__item {
margin-bottom: var(--spacing);
padding: var(--spacing);
border: var(--border-width-thin) solid var(--color-input-border); }

.noz-accordian h3 {
margin-bottom: var(--spacing-small);
font-size: var(--font-size-default);
color: var(--color-text-default); }

.noz-accordian button {
color: var(--color-text-default); }

.noz-accordian p {
font-size: var(--font-size-small); }

.noz-is-parent--active + .noz-is-child {
display: block; }    

/* columns */

.noz-columns {
margin-bottom: var(--spacing-large);
column-width: 18rem;
column-gap: var(--grid-column-gap); }

.noz-columns p {
margin: 0;
font-size: var(--font-size-small); }

.noz-columns p + p {
text-indent: 1em; }

.noz-columns h3 {
margin: var(--spacing-large) 0 var(--spacing-medium);
font-size: var(--font-size-small);
text-transform: uppercase; }

/* =cta */

.noz-cta {
margin-top: var(--spacing-large);
padding: var(--spacing-large);
background-color: var(--color-base); }

.noz-cta div {
text-align: center; }

.noz-cta div:first-of-type {
margin-bottom: var(--spacing-medium); }

.noz-cta div:nth-of-type(1) {
flex: 2; }

.noz-cta p {
text-align: center; }

@media (min-width:48em) {
.noz-cta {
display: flex;
justify-content: center;
align-items: center;
padding: var(--spacing-large) 5vw; }

.noz-cta div {
flex: 1; }

.noz-cta div:first-of-type {
margin: 0 var(--grid-column-gap) 0 0; }
}

@media (min-width:64em) {

.noz-cta {
margin-top: var(--spacing-large);
padding: var(--spacing-large);
background-color: var(--color-base); }
}

/* =faq */

.noz-faq {
margin-bottom: var(--spacing);
padding: var(--spacing);
border: var(--border-width-thin) solid var(--color-border); }

.noz-faq h3 {
margin-bottom: var(--spacing-small);
font-size: var(--font-size-default); }

.noz-faq p {
margin-bottom: 0;
font-size: var(--font-size-small); }

/* =flex */

.noz-flex {
padding: 0 var(--spacing-large); }

.noz-flex > * {
margin-bottom: var(--spacing-medium); }

@media (min-width:64em) {

.noz-flex {
display: flex;
margin-bottom: var(--spacing-large);
padding: 0; }

.noz-flex > * {
flex: 1;
margin-bottom: 0; }

.noz-flex > *:not(:last-child) {
margin-right: var(--spacing-medium); }

.noz-flex h3 {
font-size: var(--font-size-default); }
}

/* =logos */

.noz-logos {
display: flex;
justify-content: center;
align-items: center;
margin: var(--spacing-large) 0;
padding: 0 var(--spacing-large); }

.noz-logos > * {
flex: 1;
text-align: center; }

.noz-logos > *:not(:last-child) {
margin-right: var(--spacing-medium); }

@media (min-width:64em) {

.noz-logos {
padding: 0; }
}

/* =social */

.noz-social {
list-style-type: none;
margin: 0;
padding: 0; }

.noz-social li {
display: inline-block; }

/* =step */

.noz-step {
display: flex;
align-items: flex-start;
margin-bottom: var(--spacing-x-large);
transform: translateX(-90px); }

.noz-step svg {
width: 90px;
transform: translateX(-2vw); }

.noz-step div {
flex: 1; }

.noz-step p {
margin-bottom: 0; }

/* =header */

.noz-header {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: var(--spacing-large);
box-shadow: 0 6px 8px 0 rgba(24,91,225,.1);
margin-bottom: var(--spacing-large); }

@media (min-width:64em) {

.noz-header {
flex-direction: row; }
}

.noz-header img {
flex: 1;
max-width: 250px; }

.noz-header nav {
flex: 2;
display: flex;
flex-direction: row;
justify-content: center;
width: 100%; }

.noz-header nav ul {
width: 100%;
text-align: center; }

.noz-header nav ul li:before  {
content: none; }

.noz-header nav ul li  {
margin-left: 1rem;
font-weight: var(--font-weight-bold);
display: inline-block; }

.noz-header .noz-header-cta {
display: flex;
flex-direction: column;
align-items: center; }

.noz-header .noz-btn {
margin-bottom: var(--spacing); }

.noz-header p {
font-size: var(--font-size-small); }

/* =layout (grid) */

[role="contentinfo"] {
padding: var(--spacing-large);
background-color: var(--color-brand-dark);
background-image: linear-gradient(-45deg,
#0373A5,
#0093D2 50%,
#292935);
color: var(--color-text-alt); }

[role="contentinfo"] ul {
list-style-type: none;
margin: 0 0 var(--spacing-large) 0;
padding: 0; }

@media (max-width:64em) {
    [role="contentinfo"] h4 + ul {
        display:none;
    } 

    [role="contentinfo"] h4 {
        cursor:pointer;
    } 

}

[role="contentinfo"] li {
margin-bottom: var(--spacing-small);
font-size: var(--font-size-small); }

[role="contentinfo"] li:before {
content: ""; }

[role="contentinfo"] a {
color: inherit; }

[role="contentinfo"] .contentinfo__logo {
display: block;
text-align: center; }

[role="contentinfo"] .noz-social {
text-align: center; }

@media (min-width:48em) {

[role="contentinfo"] {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-column-gap: var(--grid-column-gap);
padding: var(--spacing-large) 5vw; }

[role="contentinfo"] ul {
margin: 0; }
}

@media (min-width:64em) {

[role="contentinfo"] {
padding: var(--spacing-x-large) var(--grid-column-gap); }
}

/* drawer */

.noz-drawer {
position: fixed;
top: 0;
padding: var(--spacing-xx-large) 0 0 var(--spacing-large);
height: 100vh;
width: 30rem;
will-change: transform;
transition: transform var(--duration-quickly) ease-in-out;
box-sizing: border-box;
visibility: hidden;
z-index: 2; }

.noz-drawer > div {
position: relative;
overflow-y: auto;
height: 100%;
padding: 0; }

.noz-drawer__inner {
padding: 0 var(--spacing-large) calc(6.25rem + var(--spacing-xx-large)) 0; }

.noz-drawer__close {
position: absolute;
top: var(--spacing);
right: var(--spacing-medium); }

.noz-drawer .noz-flex {
padding: 0; }

.noz-main--info-active ~ .noz-drawer--signup {
visibility: visible;
transform: translateX(0); }

.noz-graphic-wrap input {
display: none; }

.noz-graphic-wrap label {
display: block;
position: relative;
min-height: 7rem;
padding: var(--spacing); 
background-color: var(--color-background);
border: 1px solid var(--color-border);
border-radius: var(--border-radius-small);
box-sizing: border-box;
color: var(--color-text-default);
text-align: center;
cursor: pointer; }

.noz-graphic-wrap input:checked + label {
border: 1px solid var(--color-border);
background-color: var(--color-background); }

.noz-graphic-wrap input:checked + label:after {
position: absolute;
top: -10px;
right: -10px;
z-index: 1000;
content: "\2713";
width: 30px;
height: 30px;
line-height: 30px;
border-radius: 100%;
background-color: var(--color-accent);
color: var(--color-text-alt); }

/* =signup */

.noz-drawer--signup {
right: 0;
background-color: var(--color-brand-dark);
background-image: linear-gradient(-45deg,
#0373A5,
#0093D2 50%,
#292935);
color: var(--color-text-alt);
transform: translateX(30rem); }

.noz-drawer--signup h3 {
margin-top: var(--spacing-large);
margin-bottom: var(--spacing-large); }

.noz-drawer--signup a,
.noz-drawer--signup a:visited {
color: var(--color-text-alt);
text-decoration: underline; }

.noz-drawer--signup .noz-input-wrap label {
color: var(--color-text-default); }

.noz-drawer--signup a:hover {
color: var(--color-brand-light);
text-decoration: underline; }

.noz-drawer--signup .noz-checkbox input[type="checkbox"] + label:before,
.noz-drawer--signup  .noz-checkbox input[type="checkbox"]:not(:checked) + label:hover:before  {
border: 1px solid var(--color-text-alt); }

.noz-drawer--signup .noz-checkbox input[type="checkbox"]:checked + label:before {
background-color: var(--color-accent); }

.noz-drawer--signup .noz-btn {
margin: var(--spacing) 0;
box-shadow: 0 0 10px rgba(0,0,0,.25);
font-weight: var(--font-weight-default);
text-decoration: none; }

.noz-drawer--signup .noz-btn:hover {
background-color: var(--color-accent);
color: var(--color-text-alt);
text-decoration: none; }

/* 48 */

@media (min-width:64em) {

.noz-grid {
display: grid;
grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
grid-column-gap: var(--grid-column-gap);
margin: 0 auto;
padding: 0 var(--grid-column-gap);
max-width: var(--max-width);
box-sizing: border-box; }
}

/* basel */

.basel [role="banner"] {
margin-bottom: var(--spacing-medium);
padding: 0 var(--spacing-large); }

.basel main {
padding: 0 var(--spacing-large); }

@media (min-width:48em) {

.basel [role="banner"],
.basel main {
padding: 0 5vw; }
}

@media (min-width:64em) {

.basel [role="banner"] {
grid-column: 1 / 5;
margin-bottom: 0;
padding: 0; }

.basel main {
grid-column: 5 / 8;
padding: 0; }

.basel h1 {
margin-bottom: var(--spacing-x-large); }
}

/* bern */

.bern [role="banner"] {
margin-bottom: var(--spacing-medium);
padding: 0 var(--spacing-large); }

.bern main {
padding: 0 var(--spacing-large); }

.bern blockquote {
padding: 0 var(--spacing-large); }

@media (min-width:48em) {

.bern [role="banner"],
.bern main,
.bern blockquote {
padding: 0 5vw; }
}

@media (min-width:64em) {

.bern [role="banner"] {
grid-column: 1 / 5;
grid-row: 1;
margin-bottom: var(--spacing-x-large);
padding: 0; }

.bern h1 {
margin-bottom: var(--spacing-x-large); }

.bern main {
grid-column: 5 / 8;
grid-row: 1 / 4;
padding: 0 0 0 var(--grid-column-gap); }

.bern aside {
grid-column: 1 / 5;
grid-row: 2; }

.bern blockquote {
grid-column: 1 / 4;
grid-row: 3;
padding: 0; }
}

/* geneva */

.geneva main {
padding: 0 var(--spacing-large); }

.geneva .noz-flex {
padding: 0; }

@media (min-width:48em) {

.geneva main {
padding: 0 5vw; }
}

@media (min-width:64em) {

.geneva h1 {
margin-bottom: var(--spacing-x-large); }

.geneva main {
grid-column: 2 / 8;
padding: 0; }

}

/* lugano */

.lugano [role="banner"] {
margin-bottom: var(--spacing-large);
padding: 0 var(--spacing-large); }

.lugano main {
padding: 0 var(--spacing-large); }

@media (min-width:48em) {

.lugano [role="banner"],
.lugano main {
padding: 0 5vw; }
}

@media (min-width:64em) {

.lugano [role="banner"] {
grid-column: 1 / -1;
padding: 0; }

.lugano main {
grid-column: 1 / -1;
padding: 0; }

}

/* lucerne */

.lucerne [role="banner"] {
grid-column: 1 / 5; }

.lucerne main {
grid-column: 5 / 8;
align-self: center; }

/* mendrisio */

.mendrisio [role="banner"] {
margin-bottom: var(--spacing-large);
padding: 0 var(--spacing-large); }

.mendrisio main {
padding: 0 var(--spacing-large); }

.mendrisio blockquote {
padding: 0 var(--spacing-large); }

@media (min-width:48em) {

.mendrisio [role="banner"],
.mendrisio main,
.mendrisio blockquote {
padding: 0 5vw; }
}

@media (min-width:64em) {

.mendrisio [role="banner"] {
grid-column: 1 / 6;
grid-row: 1 / 5;
z-index: -1;
padding: 0; }

.mendrisio main {
display: contents;
padding: 0; }

.mendrisio main p:first-of-type {
grid-column: 5 / 8;
grid-row: 1;
align-self: end;
z-index: 2; }

.mendrisio main h1 {
grid-column: 4 / -1;
grid-row: 2;
align-self: center;
z-index: 2; }

.mendrisio main h1 + p {
grid-column: 5 / -1;
grid-row: 3;
align-self: start;
z-index: 2;
margin: 0; }

.mendrisio main > figure {
grid-column: 5 / -1;
grid-row: 4; }

.mendrisio blockquote {
grid-column: 1 / 4;
grid-row: 5; 
margin: 0;
padding: 0; }

.mendrisio aside {
grid-column: 5 / -1;
grid-row: 5; }

.mendrisio .noz-logos {
grid-column: 1 / -1;
grid-row: 6; }

}